@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/inter-400.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/inter-700.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/inter-900.woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;    
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container section:not(:last-child) {
    margin-bottom: 80px;
}

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 24px 0;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0; 
    max-width: 550px;
    display: flex;
    align-items: center;
}

.navigation-user {
    max-width: 500px;
    margin-left: auto;
    justify-content: right;
}

.navigation-logo {
    width: 137px;
    margin-right: 16px;
    height: 56px;
}

.navigation-item {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    width: auto;
    justify-content: flex-start;
}

.navigation-user .navigation-item {
    padding: 0;
    margin-right: 16px;
}

.navigation-user .navigation-item:last-of-type {
    margin-right: 0;
}

.navigation-item-tel {
    margin-right: 16px;
}

.navigation-item-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #2D3440;
}

.navigation-link {
    position: relative;
    display: block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    min-width: 16px;
    min-height: 16px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.navigation-user .navigation-link {
    padding: 8px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 27px;
}

.navigation-user .navigation-link-enter {
    padding-left: 38px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 20px;
}

.navigation-item .navigation-link-search {
    padding: 16px;
}

.navigation-link-enter .navigation-item-icon {
    right: auto;
    left: 17px;
    margin: auto 0;
}

.navigation-user .navigation-link-basket {
    padding-left: 38px;
    padding-right: 16px;
    width: 115px;
    font-size: 14px;
    line-height: 20px;
}

.navigation-link-basket .navigation-item-icon {
    right: auto;
    left: 17px;
    margin: auto 0;
}

.navigation-link-tel {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.slider {
    display: flex;
    position: relative;
}

.slider-first-part {
    display: flex;
    flex-direction: column;
}

.slider-second-part {
    display: flex;
    flex-wrap: wrap;
}

.slider-ice-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-content: center;
    margin-bottom: 2px;
    margin-top: 0;
}

.slider-ice-items li:not(:last-child) {
    margin-right: 41px;
}

.slider-ice-name {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 136px auto 24px 70px;
    width: 470px;
}

.slider-ice-description {
    font-size: 18px;
    line-height: 24px;
    margin: 24px auto 48px 70px;
    width: 414px;
}

.slider-ice-current .button {
    margin: 0 auto 124px 70px;
}

.slider-pages {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 0;
}

.slider-pages-button {
    appearance: none;
    margin-right: 8px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    border: 0;  
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(252, 252, 252, 0.3);
}

.slider-pages-item:first-child .slider-pages-button {
    background-color: #FCFCFC;
    opacity: 1;
    
}


.slider-ice-main {
    width: 350px;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    position: relative;
}

.slider-ice-main::after {
    content: '';
    position: absolute;
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background-color: rgba(255, 203, 216, 1);
    z-index: -1;
    left: 21px;
    right: 21px;
    top: 100px;
    bottom: 95px;
}

.slider-ice-next {
    width: 100px;
    margin-top: 204px;
    position: relative;
}

.slider-ice-next-img {
    padding: 0 17px;
}

.slider-ice-next::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFCBD8;
    opacity: 0.4;
    z-index: -1;
    left: 0;
    top: 25px;
}

.slider-social {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 0;
}

.social-items {        
    margin-right: 16px;
    position: relative;
}

.social-items:last-child {
    margin-right: 0;
}

.social-button {
    position: relative;
    display: inline-block;
    outline: 2px solid rgba(252, 252, 252, 0.3);
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

.social-button-icon {
    position: absolute;
    border-radius: 50%;
    fill: #FCFCFC;
}

.arrow {
    position: relative;
    appearance: none;
    width: 38px;
    height: 38px;
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #FCFCFC;
    border: none;
    border-radius: 26px;
    position: absolute;
    left: 542px;
    top: 258px;       
    cursor: pointer;
    z-index: 2;
}

.arrow-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    fill: #FCFCFC;
}

.arrow-next {
    left: 854px;
    top: 258px;
}

.arrow-next-icon {
    transform: rotate(180deg);
}

.button {
    display: inline-block;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;    
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #2D3440;
    background-color: #FCFCFC;
    padding: 12px 32px;
    box-sizing: border-box;
    outline: 4px solid rgba(252, 252, 252, 0.4);
}

.gifts-container {
    display: flex;
    justify-content: space-between;
}

.gifts-items {
    background-image: url(../images/rasberry-gift.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #FF7799;
    width: 570px;
    min-height: 268px;
    border-radius: 16px;
    background-position: 100%;
}

.gifts-items:last-of-type {
    background-image: url(../images/marshmallow-gift.png);
}

.gifts-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    max-width: 434px;
    margin: 0 auto 55px auto;
    
}

.gifts-items-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 36px auto 28px 36px;
}

.gifts-items-description {
    margin: 28px auto 28px 36px;
    width: 328px;
}

.gifts-items .button {   
    margin: 0 auto auto 36px;
}

.popular-logo {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    width: 527px;
    margin: 0 auto;
}

.popular-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 56px;
}

.advantages {
    background-image: url(../images/background/cone-background.jpg);
    background-size: 100%;
    border-radius: 16px;
    width: 1170px;
    min-height: 480px;
}

.advantages-inner {
    background-color: #ffffff;
    border-radius: 16px;
    width: 1122px;
    min-height: 432px;   
    margin: 24px; 
    display: inline-block;
}

.advantages-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 56px auto;
}

.advantages-item-description {
    color: #565C66;
    margin: 0;
    margin-left: 64px;
}

.advantages-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 40px 32px;
    width: 1042px;
    padding: 0;
    margin: 56px 40px;   
}

.advantages-item {
    width: 505px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.advantages-item-icon {
    position: absolute;
}

.blog-delivery-container {
    display: flex;
    justify-content: space-between;
}

.blog {
    width: 570px;
    min-height: 224px;
    border-radius: 16px;
    background-image: url(../images/background/blog-background.jpg);
    background-size: auto;
}

.blog-slogan {
    line-height: 20px;
    color: #565C66;
    font-weight: 400;
    font-size: 16px;
    margin: 33px auto 12px 32px;
}

.blog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: inherit;
    margin-left: 32px;
    display: block;
    max-width: 303px;
}

.subscription {
    background-image: url(../images/background/subscribe-background.png);
    background-size: 100%;
    border-radius: 16px;
    width: 570px;
    min-height: 224px;
    margin-bottom: 80px;
}

.subscription-inner {
    background-color: #ffffff;
    border-radius: 16px;
    width: 558px;
    min-height: 212px;
    margin: 6px;
    display: inline-block; 
}

.subscription-inner p {
    color: #565C66;
    margin: 26px 26px 42px 26px;
}

.subscription-form .field {
    width: 332px;
    height: 48px;
    margin: auto 14px auto 26px;
    display: inline-block;
    padding: 14px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    color: #B9B9B9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center; 
    outline: 4px solid rgba(255, 47, 100, 0.3); 
    border: none;  
    border-radius: 26px;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    padding: 0;
    cursor: pointer;
    background: #FF2F64;
    color: #FCFCFC;
    box-sizing: border-box;
    padding: 12px 32px;
}

.delivery {
    width: 1170px;
    min-height: 534px;
    background-image: url(../images/background/delivery-background.jpg);
    background-size: 100%;
    border-radius: 16px;
    display: flex;
}

.delivery-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    max-width: 356px;
    margin: 167px auto 24px 100px;
}

.delivery-description {
    color: #565C66;
    max-width: 371px;
    margin-left: 100px;
}

.delivery-form {
    width: 500px;
    min-height: 406px;
    background-color: #FCFCFC;
    border-radius: 8px;
    margin: 64px;
    margin-left: auto;
}

.delivery-form-description {
    color: #565C66;
    margin: 40px 80px 32px 40px;
}

.delivery-form-data {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 42px 40px; 
}

.delivery-form-data-item {
    margin: 0;
}

.delivery-form-data-item:first-of-type {
    margin-right: 16px;
    margin-bottom: 20px;
}


.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column; 
}

.form-label-item {
    box-sizing: border-box;
    height: 48px;
    align-self: center;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.form-label-item::placeholder {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
    align-self: flex-end;
}

.form-label-date {
    width: 117px;    
}

.form-label-tel {
    width: 287px;
}

.form-label-address {
    width: 420px;
}

.delivery-form-data button {
    margin: 32px auto 0 auto;
    width: 152px;
}

.address {
    width: 1170px;
    min-height: 492px;
    background-image: url(../images/background/feedback-background.jpg);
    background-size: auto;
    border-radius: 16px;  
    margin-bottom: 0;
}

.address-inner {
    width: 343px;
    min-height: 364px;
    background-color: #FCFCFC;
    border-radius: 8px;
    display: inline-block;
    margin: 64px;
    margin-bottom: 56px;
    padding: 40px;
    box-sizing: border-box;
}

.address-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin-top: 0;
    margin-bottom: 12px;
    width: 179px;
}

.address-info {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    width: 263px;
    margin-bottom: 24px;
}

.address-tel-title {
    color: #565C66;
    margin-bottom: 12px;
}

.address-inner a {
    text-decoration: none;  
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
    color: inherit; 
    margin-bottom: 0;
}

.adress-tel-time {
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
    margin-top: 0;
    margin-bottom: 32px;
}

.address-info .button {
    width: 250px;
}

.address-inner .button-submit-inner {
    width: 186px;
}


.page-footer-container-catalog::before {
    content: '';
    position: absolute;
    width: 1170px;
    height: 1px;
    top: -48px;
    left: 0;
    background-color: rgba(252, 252, 252, 0.3);
}

.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 44px auto;
    position: relative;

}

.page-footer-social {
    margin-right: 323px;
    margin-left: 4px;
}

.page-footer-social-list {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.page-footer-menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    width: 356px;
    padding: 0;
    position: relative;
    margin: 0;
    gap: 8px 0;
    line-height: 20px;
}

.page-footer-menu-list a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.page-footer-menu-item-main {
    font-weight: 700;
    position: relative;    
}

.page-footer-menu-item-main::before {
    content: "";
    background-image: url(/images/heart-icon.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    left: -23px;
    top: 3px;
    line-height: 20px;
}

.page-footer-htmlacademy {
    margin-left: auto;
    margin-right: 14px;
}

.page-footer-htmlacademy-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 14px;
}

.page-footer-htmlacademy-text-link {
    color: inherit;
}

.page-footer-htmlacademy-logo {
    display: block;
    line-height: 0;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 32px;
    line-height: 0;
}

.breadcrumbs-item {
    margin-right: 28px;
    line-height: 20px;
    position: relative;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

.breadcrumbs-link-icon {
    position: absolute;
    top: 4px;
    left: 66px;

}

.breadcrumbs-current {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #2D3440;
}

.catalog-products {
    margin-bottom: 40px;
}

.catalog-products-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
    margin-top: 0;
}

.filtres {
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter-group .catalog-filter-taste {
    padding: 10px 24px;
    width: 604px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 2px;
}


.select-control {
    width: 196px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    color: #2D3440;
    padding: 8px 16px;  
    border: none;
    height: 36px;
    font-family: 'Inter';
    font-size: 14px;
    appearance: none;
    background-image: url(/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 167px 10px;
    cursor: pointer;
}

.select-control option {
    padding: 0;
}

.filtres .button {  
    height: auto; 
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 185px;
    background: rgba(252, 252, 252, 0.3);
    outline: 2px solid #FCFCFC;
    border-radius: 20px;
    padding: 8px 52px;
    align-self: flex-end;
    border: none;
    margin-bottom: 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.sort-container {
    display: flex;
    flex-direction: column;
}

.catalog-filter-price {
    display: flex;
    flex-direction: column;
    width: 196px;
    margin: 0 24px 8px;
}

.catalog-filter-price-title {
    margin-left: 16px;
}

.catalog-filter-price-container {
    padding: 18px 16px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    margin-top: 8px;
    height: 36px;
    box-sizing: border-box;
}

.price-range {
    position: relative;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
}

.price-range-scale {
    position: absolute;
    height: 2px;
    background-color: #565C66;

}

.price-range-bar {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FCFCFC;
    border: 6px solid #2D3440;
    cursor: pointer;
    padding: 0;
}

.bar-min {
    top: -7px;
    left: -16px;
}

.bar-max {
    left: 56px;
    top: -7px;
}

.price-range-bar:hover {  /* не понимаю как почему такая область большая для наведения, именно только у кнопки минимум*/
    background: #2D3440;
    border: 6px solid #FCFCFC;
}

.price-range-bar:focus {
    background: #2D3440;
    border: 6px solid #FCFCFC;
    outline: 2px solid #2D3440;
}

.price-range-bar:focus {
    background: #2D3440;
    border: none;
    outline: none;
}

.catalog-filter-group {
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    max-width: 604px;
    border: none;
    margin-right: 16px;
    margin-left: 0;
}

.catalog-filter-group:first-of-type {
    width: 383px;
    margin-bottom: 16px;
    margin-right: 0;
}


.catalog-filter-list {
    display: flex;
    list-style: none;
    max-width: 604px;
    padding: 8px 24px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 18px;
    margin: 0;
}

.catalog-filter-item:not(:last-child) {
    margin-right: 16px;
}

.catalog-filter-title {
    margin: 0 16px 8px;
    line-height: 20px;
    padding: 0;
}

.control {
    position: relative;
    cursor: pointer;
}

.control-input {
    margin: 0;
}

.control-label {
    padding-left: 24px;
    font-family: 'Inter', sans-serif;
}

.catalog-filter-fat {
    width: 383px;
    justify-content: space-between;
    box-sizing: border-box;
}

.catalog-filter-fat .control-mark {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #2D3440;
    box-sizing: border-box;
    top: 1px;
}

.control:hover .control-mark {
    border-color: #FCFCFC;
}

.control-input:disabled .control-mark {
    border-color: rgba(45, 52, 64, 0.5);
}

.control-input[type="radio"]:checked + .control-mark::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #2D3440;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

.control:hover .control-input[type="radio"]:checked + .control-mark::after {
    background: #FCFCFC;
}

.control-input:disabled .control-input[type="radio"]:checked + .control-mark::after {
    background: rgba(45, 52, 64, 0.5);
}

.catalog-filter-taste .control-mark {
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #2D3440;
    border-radius: 2px;
    top: 1px;
}

.control-mark-check {
     fill: transparent;
     position: absolute;
     top: 1px;
}

.control-input[type="checkbox"]:checked + .control-mark-check {
    border: transparent;
    fill: #2D3440;
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark-check {
    fill: #FCFCFC;
}

.control-input:disabled .control-input[type="checkbox"]:checked + .control-mark-check {
    fill: rgba(45, 52, 64, 0.5);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 16px;
}

.product-card {
    width: 270px;
    padding: 0 40px 24px 40px;
    box-sizing: border-box;
    text-align: center; 
    position: relative;
 
}

.product-card::after {
    content: '';
    width: 270px;
    height: 281px;
    background-color: #FCFCFC;
    border-radius: 8px;
    position: absolute;
    top: 51px;
    left: 0px;
    z-index: -1;

}

.product-card-image {
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    margin-bottom: 16px;
}

.product-card-link {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: block;
    line-height: 0px;
}

.product-card-description {
    color: #565C66;
    margin: 0 auto 16px;
}

.product-card-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
}

.product-card-title {
    margin: 0 auto 8px; 
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-card-price-container {
    display: flex;
    justify-content: space-between;
}

.product-card-button {
    position: relative;
    display: inline-block;
    background: #FF2F64;
    padding: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.product-card-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: #FCFCFC;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 41px 0px 45px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0 8px;
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    padding: 0;
}

.pagination-container .button {
    border: none;
    margin-left: auto;
    margin-right: 335px;
    width: 179px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.pagination-item {
    display: block;
    width: 24px;
    height: 24px;
}

.pagination-link {
    line-height: 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
    padding: 2px 0;
    box-sizing: border-box;
}

.pagination-link-current {
    background: #FCFCFC;
    border-radius: 50px;
}

.pagination-digit {
    display: flex;
    margin: 0 8px;
    padding: 0;
}

.pagination-item-arrow {
    width: 16px;
    height: 20px;
    position: relative;
    top: 2px;
}

.pagination-item-arrow .pagination-link {
    width: 16px;
    height: 20px;
    margin: auto;
}

.pagination-arrow-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pagination-arrow-icon-pre {
    opacity: 0.3;
}
 /* popover*/

.modal-window-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(45, 52, 64, 0.3);
}
  
.modal {
    position: relative;
    margin: auto;
    padding: 64px 64px 66px;
    background: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    box-sizing: border-box;
  }
  
.modal-feedback {
    width: 570px;
}
  
.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 32px 32px 12px auto;
    padding: 0;
    border: none;
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button-icon {
    fill: #2D3440;
}
  
.modal-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    margin: 0 0 32px;
}
  
.field-group {
    margin-bottom: 16px 0;
}
  
.field {
    width: 442px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    padding: 14px 16px;
    outline: 1px solid #B9B9B9;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
}
  
.comment-form .field-group:last-of-type .field {
    height: 149px;
    resize: none;
}
  
.comment-form .field-group:last-of-type {
    height: 149px;
}
  
.field-form-button {
    width: 152px;
    display: block;
    background: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    border: none;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    padding: 12px 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    margin-left: auto;
    margin-top: 32px;
    cursor: pointer;
}
  
.field::placeholder {
    color: #B9B9B9;
}
  
.field:focus {
    outline: 2px solid #2D3440;
}
  
.field:hover {
    outline: 1px solid #2D3440;
}
  
.field:invalid {
    outline: 1px solid #EA5454;
}
  
.field:hover:invalid {
    outline: 2px solid #EA5454;
}

.header-open-menu {
    background: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    display: inline-block;
    width: 135px;
    height: 188px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 3;
    display: none;
}

.header-open-menu-item:last-of-type {
    margin-bottom: 8px;
    position: relative;
}
  
.header-open-menu-item:first-of-type {
    margin-top: 8px;
}

.header-open-menu-link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 6px 13px 6px 16px;
}
  
.header-open-menu-link-main {
    font-weight: 700;
    padding: 8px 16px;
}
  
.header-open-menu-item-main::after {
    content: '';
    margin: 3px 16px 4px;
    display: block;
    background-color: rgba(185, 185, 185, 1);
    height: 1px;
    width: 103px;
}
  
.header-open-menu-link:focus {
    background: #FF7799;
    border: none;
}
  
.header-open-menu-link:hover {
    background: #FFCBD8;
}

.header-open-menu-link:hover + .search-form-cross {
    display: block;
}

.header-open-menu-link:active + .search-form-cross {
    display: block;
}
  
.header-open-menu-link:active {
    background: #FF7799;
}
  
.header-open-menu-link-current {
    background: #FF4A78;
    color: #FCFCFC;
}  

.navigation-item {
    position: relative;
}

.navigation-link-catalog:hover + .header-open-menu {
    display: block;
}

.navigation-link-catalog:focus + .header-open-menu {
    display: block;
}

.popover-search-content {
    padding: 24px 16px;
    background: #FCFCFC;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 3;
    display: none;
}
  
.field {
    width: 324px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    padding: 14px 16px;
    outline: 1px solid #B9B9B9;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
  }
 
.navigation-link-search:hover + .popover-search-content {
    display: block;
}

.navigation-link-search:focus + .popover-search-content {
    display: block;
}

.search-form-field {
    position: relative;
}

.cross-button {
    position: absolute;
    top: 40px;
    right: 29px;
    display: none;
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-field:focus + .cross-button {
    display: block;
}

.popover-container-auth {
    width: 420px;
    background: #FCFCFC;
    border-radius: 4px;
    padding: 48px 48px 52px;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    top: 44px;
    right: 0;
    display: none;
}
  
.popover-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    margin-bottom: 32px;
    margin-top: 0;
}
  
.field-group {
    margin-bottom: 16px;
}
  
.field {
    width: 324px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    padding: 14px 16px;
    outline: 1px solid #B9B9B9;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
}
  
.auth-form-button {
    display: inline-block;
    background: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    border: none;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    padding: 12px 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    cursor: pointer;
}
  
.auth-form-enter {
    display: flex;
    margin-top: 32px;
}
  
.auth-form-link-container {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    justify-content: center;
  
}
  
.auth-form-link-container a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}
  
.auth-form-recovery {
    margin-bottom: 4px;
}

.navigation-link-enter:hover + .popover-container-auth {
    display: block;
}

.navigation-link-enter:focus + .popover-container-auth {
    display: block;
}

.popover-container-basket {
    width: 441px;
    padding: 48px;
    background: #FCFCFC;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    top: 44px;
    right: 0;
    display: none;
}
  
.popover-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    margin-bottom: 32px;
    margin-top: 0;
}
  
.popover-basket-list {
    margin-bottom: 32px;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #E7E7E7;
}
  
.popover-basket-item {
    display: grid;
    grid-template-columns: 46px 148px 87px 16px;
    gap: 16px;
    height: 46px;
    margin-bottom: 24px;
}
  
.popover-basket-item-image {
    border-radius: 50%;
}
  
.popover-basket-item-name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
    margin-bottom: 4px;
    margin-top: 0;
}
  
.popover-basket-item-price-and-mass {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 0;
}
  
.popover-basket-item-price {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
    margin: 12px 0;
}
  
.popover-basket-item-delete {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    margin: 15px 0;
    padding: 0;
    cursor: pointer;
}
  
.popover-basket-total-container {
    display: flex;
    justify-content: space-between;
}
  
.popover-basket-button {
    text-decoration: none;
}
  
.popover-basket-total {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 12px 0;
}

.navigation-link-basket:hover + .popover-container-basket {
    display: block;
}

.navigation-link-basket:focus + .popover-container-basket {
    display: block;
}

/* button status */

.navigation-link:focus {
    background: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 2px #000000;
    border-radius: 30px;
    outline: none;
    color: #2D3440;
}

.navigation-link:hover {
    background: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    color: #2D3440;
}

.navigation-link:active {
    background: #FCFCFC;
    border-radius: 30px;
    color: #2D3440;
}

.navigation-link-current {
    background: #FF4A78;
    border-radius: 30px;
    color: #FCFCFC;
    fill: #FCFCFC;
}

.button:focus {
    background: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2D3440;
}

.button:hover {
    background: rgba(252, 252, 252, 0.4);
    outline: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.button:active {
    outline: 2px solid #2D3440;
}


.button:disabled {
    background: #E7E7E7;
    color: #B9B9B9;
    font-weight: 400;
}

.button-submit:focus {
    background: #FF2F64;
    outline: 2px solid #2D3440;
}

.button-submit:hover {
    background: rgba(252, 252, 252, 0.3);
    outline: 4px solid #FF2F64;
    color: #2D3440;
}

.button-submit:active {
    background: #FEAFC3;
    outline: 2px solid #2D3440;
}

.button-submit:disabled {
    background: #B9B9B9;
    outline: 4px solid rgba(185, 185, 185, 0.3);
    color: #565C66;
    font-weight: 400;
}

.slider-pages-button:focus {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
}

.slider-pages-button:focus-visible {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    border: none;
}

.slider-pages-button:hover {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #FCFCFC;
}

.slider-pages-button:active {
    background: #FCFCFC;
}

.social-button:focus {
    background: #2D3440;
    outline: 2px solid #2D3440;
}

.social-button:hover {
    background: #2D3440;
    outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-button:active {
    background: #2D3440;
    opacity: 0.5;
}


.product-card-button:focus {
   box-shadow: inset 0 0 0 2px #2D3440;
   border: none;
   outline: none;
}

.product-card-button:hover {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #FF2F64;
    
}

.product-card-button:hover .product-card-button-icon {
    fill: #2D3440;
}

.product-card-button:active {
    background: #FFCBD8;
    box-shadow: inset 0 0 0 2px #FF2F64;
}

.product-card-button:active .product-card-button-icon {
    fill: #2D3440;
}

.product-card-button:disabled {
    background: #B9B9B9;
}

.product-card-button:disabled .product-card-button-icon {
    fill: #565C66;
}

.arrow:focus {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #2D3440;
    outline: none;
}

.arrow:focus .arrow-icon {
    fill: #2D3440;
}

.arrow:hover {
    background: #FCFCFC;
}

.arrow:hover .arrow-icon {
    fill: #2D3440;
}

.arrow:active {
    background: rgba(252, 252, 252, 0.5);
    outline: none;
}

.arrow:active .arrow-icon {
    fill: #2D3440;
}

.arrow:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    box-shadow: inset 0 0 0 2px #FCFCFC;
}

.arrow:disabled .arrow-icon {
    fill: #FCFCFC;
}

.pagination-digit .pagination-link:focus {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}

.pagination-digit .pagination-link:hover {
    background: rgba(252, 252, 252, 0.5);
}

.pagination-digit .pagination-link:active {
    background: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 1px #FCFCFC;
}

.header-open-menu:hover {
    display: block;
}

.navigation-link-catalog::after {
    content: '';
    width: 96px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 0;
}

.navigation-link::after:hover + .header-open-menu {
    display: block;
}

.navigation-link-search::after {
    content: '';
    width: 32px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 0;
}

.popover-search-content:hover {
    display: block;
}

.navigation-link-search::after:hover .popover-search-content {
    display: block;
}

.navigation-link-enter::after {
    content: '';
    width: 88px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 0;
}

.popover-container-auth:hover {
    display: block;
}

.navigation-link-enter::after:hover .popover-container-auth {
    display: block;
}

.navigation-link-basket::after {
    content: '';
    width: 115px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 0;
}

.popover-container-basket:hover {
    display: block;
}

.navigation-link-basket::after:hover .popover-container-basket {
    display: block;
}

