@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/inter-400.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/inter-700.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/inter-900.woff2);
    font-display: swap;
}

body {
    font-family: Inter, sans-serif;    
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background: #FEAFC3;
}

.navigation-item {
    font-size: 16px;
    line-height: 20px;
}

.navigation-link {
    color: inherit;
    text-align: center;
    text-decoration: none;
}

.navigation-user .navigation-item {
    font-size: 14px;
}

.navigation-user .navigation-item:nth-of-type(1) {
    font-size: 16px;
    font-weight: 700;
}

.slider-ice-name {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-ice-description {
    font-size: 18px;
    line-height: 24px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.gifts-items {
    background-image: url(../images/rasberry-gift.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #FF7799;
    width: 570px;
    height: 268px;
    border-radius: 16px;
    background-position: 100%;
}

.gifts-items:last-of-type {
    background-image: url(../images/marshmallow-gift.png);
}

.gifts-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gift-items-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.popular-logo {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.popular-item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.popular-item-description {
    text-align: center;
    color: #565C66;
}

.popular-item-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.popular-item-img {
    border-radius: 50%;
}

.advantages {
    background-image: url(../images/background/cone-background.jpg);
    background-size: 100%;
    border-radius: 16px;
    width: 1170px;
    height: 480px;
}

.advantages-inner {
    background-color: #ffffff;
    border-radius: 16px;
    margin: auto;
    width: 1122px;
    height: 432px;    
}

.advantages-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.advantages-item-description {
    color: #565C66;
}

.blog {
    width: 570px;
    height: 224px;
    border-radius: 16px;
    background-image: url(../images/background/blog-background.jpg);
    background-size: auto;
}

.blog-slogan {
    line-height: 20px;
    color: #565C66;
    font-weight: 400;
    font-size: 16px;
}

.blog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: inherit;
}

.subscription {
    background-image: url(../images/background/subscribe-background.png);
    background-size: 100%;
    border-radius: 16px;
    width: 570px;
    height: 224px;
}

.subscription-inner {
    background-color: #ffffff;
    border-radius: 16px;
    width: 558px;
    height: 212px;
    margin: auto;
}

.subscription-inner p {
    color: #565C66;
}

.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    padding: 12px 32px;
}

.delivery {
    width: 1170px;
    height: 534px;
    background-image: url(../images/background/delivery-background.jpg);
    background-size: 100%;
    border-radius: 16px;
}

.delivery-slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery-description {
    color: #565C66;
}

.delivery-form {
    width: 500px;
    height: 406px;
    background-color: #FCFCFC;
    border-radius: 16px;
}

.delivery-form-description {
    color: #565C66;
}

.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
}

.address {
    width: 1170px;
    height: 492px;
    background-image: url(../images/background/feedback-background.jpg);
    background-size: auto;
    border-radius: 16px;    
}

.address-inner {
    width: 343px;
    height: 364px;
    background-color: #FCFCFC;
    border-radius: 16px;
}

.address-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.address-info {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
}

.address-tel-title {
    color: #565C66;
}

.address-inner a {
    text-decoration: none;  
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
    color: inherit; 
}

.adress-tel-time {
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.address-inner button {  /**почему к ней не подключился стиль выше .button-submit**/
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3); /**не работает...**/
    border-radius: 26px;
    padding: 12px 32px;
}

.page-footer-menu-list a {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

.page-footer-menu-item-main {
    font-weight: 700;
}

.page-footer-htmlacademy-text {
    font-size: 12px;
    line-height: 16px;
}

.page-footer-htmlacademy-text-link {
    color: inherit;
}
